@model IEnumerable<OpenLibrary.Models.TacGia>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenTacGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiThieu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTacGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiThieu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item._id }) |
                @Html.ActionLink("Details", "Details", new { id=item._id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item._id })
            </td>
        </tr>
}
    </tbody>
</table>
